{%extends 'base.html' %}

{% block content %}


<h1>All Reviews</h1>
<ul class="list-group">
{% for review in object_list  %}
    <li class="list-group-item"><a href="{% url 'review-detail' review.pk %}">{{review.title}}</a>
        <br/>
        {{review.albumName}} by {{review.albumArtist}} 
        <br/>
        Genre: {{review.albumGenre}}
        <br/>
        Rating: {{review.albumScore}}
        <br/>
        by {{review.author}} - {{review.review_date}}
        
        
        <small>
    {% if user.is_authenticated %}
        {% if user.id == review.author.id %}
        <a href="{% url 'update-review' review.pk %}">(Edit)</a>
        <a href="{% url 'delete-review' review.pk %}">(Delete)</a>
        {% endif %}
    {% endif %}
        </small>
    
    

    {%endfor%} 
</ul>



{% endblock %} 
